.SearchMovie {

  background-size: cover;
  width: 95%;
  padding: 1em 2.5%;
  height: 12em;
}

.SearchMovie a {
  color: inherit;
  text-decoration: none;
}

.SearchMovie #search {
  width: 100%;
  padding: 1% 1.5%;
  margin-bottom: 1.5%;
}

.SearchMovie #search:focus {
  outline: none;
}

.SearchMovie #person,
.SearchMovie #title {
  margin-left: 1em;
  cursor: pointer;
  transition: all .25s ease-in-out;
}

.SearchMovie #submit {
  float: right;
  padding: .5em 5em;
  cursor: pointer;
  transition: all .25s ease-in-out;
}

.SearchMovie #submit:hover {
  background-color: rgb(23, 178, 189);
}

.selected {
  background-color: rgb(23, 178, 189);
}
@media all and (min-width:961px) {
  .SearchMovie {
    background-image: url('./../../assets/images/search_bg.jpg');
  }
}
@media all and (max-width:960px) {
  .SearchMovie {
    background-color: rgba(100, 100, 100, 0.6);
  }
}
@media all and (max-width:500px) {
  .SearchMovie {
    position: relative;
  }

  input {
    display: block;
  }

  .SearchMovie #submit {
    float: none;
    padding: 1em;
    position: absolute;
    bottom: 1em;
    right: 1em;
  }

  .SearchMovie #person,
  .SearchMovie #title {
    margin: .5em 0;
  }

  .noFilm p {
    font-size: 200%;
  }
}
